.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-field {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.file-upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
